body{
	margin: 0;
	padding: 0;
	background-color: #000000;
}

nav {
	width: 100%;
	position: absolute;
	z-index: 3;
}

nav a{
	text-decoration: none;
}

/*
	Icone do hamburger
*/
.btnMenu_open, .btnMenu_close{
	background-image: url('../imagens/hbg2.png');
}

/*
	Cor de fundo do menu mobile
*/
.btnMenu_close, .btnMenu, .menu{
	background-color: #f8f9fa;
}

/*
	botão para fechar o menu mobile
*/
.btnMenu_close{
	margin: 0;
	background-size: 40px;
	background-position: 15px center;
	background-repeat: no-repeat;
	padding: 6% 0;
	height: 0;
}

/*
	botão menu mobile
*/
.btnMenu{
	display: block;
	background-repeat: no-repeat;
	background-position: 15px center;
	padding: 6% 15px;
	background-size: 40px;
	position: fixed;
	left: 0;
	right: 0;
}

/*
	ul do menu mobile
*/
.menu{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	z-index: 2;
}

/*
	li do menu mobile
*/	
.menu-item{
	padding: 20px 15px;
}

/*
	links do menu mobile
*/
.menu-item-action{
	color: red;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
}

/*
 	class que adciona o menu mobile pelo javascript
*/
.menu_open{
	transform: translateX(0);
	transition: transform .3s linear;
	padding: 0;
	margin: 0;
}


header{
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header h1, h2, p{
	color: #FFF;
}
header h1{
	font-size: 1.5em;
	margin-top: 30%;

}

header h2{
	margin-top: 5%;
	font-size: 1.2em;
}
	
header p{
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
	margin: 3% 0;
	font-weight: bolder;
}
/*
	botao para saber mais sobre mim e a fatec
*/

.botao, .fatec{
	font-family: "Gotham-Book", Verdana, sans-serif;
	background-color: transparent;
	color: #FFF;
	font-size: 1em;
	padding: 2%;
	text-decoration: none;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 1px solid red;
	transform: skew(-20deg);
	margin: 1%;
}

/*
	botao para subir de volta ao topo
*/

#subirTopo {
bottom: 70px;
right: 30px;
text-align: center;
cursor: pointer;
position: fixed;
}

/*
	imagem do botão topo
*/
#subirTopo img{
	height: 10vh;
}

#Fatec{
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#Fatec h2, #Fatec h3,  #Sobre h2, #Sobre h3, #Contato h3{
	font-family:  'Verdana', sans-serif;
	color: #fff;
 	font-weight: bold;
  	text-align: center;
  	margin-top: 15%;
}

#Fatec p, #Sobre p, #Contato p{
	font-size: 1em;
	font-family: 'Verdana', sans-serif;
  	text-align: justify;
  	padding: 3px;
  	color: #fff;
  	margin: 2px 15px;
 }

 #Fatec p{
 	margin-bottom: 2%;
 }

 #Fatec a{
 	margin-bottom: 10%;
 }
/*
	bandeira do Brasil na seção "Sobre"
*/
.br{
  width: 5%;
  height: 7%;
}

/*
	bandeira Inglesa na seção "Sobre"
*/
.eng{
  width: 5%;
  height: 10%;
  border-radius: 10px;
}

.br, .eng{
	margin: 0 0 0 1%;
}

.br:hover{
  cursor: pointer;
}

.eng:hover{
  cursor: pointer;
}
#Sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#Contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
}

/*
	imagens da seção "Contato"
*/
#Contato img{
  height: 30px;
  width: 30px;
  margin:0px 10px;
}

#Contato a{
	text-decoration: none;
	color: #fff;
}
#Contato p{
	padding: 0;
}
.ctt{
  margin: 3%;
}

.ctt a{
	font-family: 'Helvetica', sans-serif;
}


footer{
	clear: both;
	height: 10vh;
	border-top: 1px solid red;
}

footer p{
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
	text-align: center;
	margin: 10px;
	color: #fff;
}

form{
	width: 60%;
}
/*
	cor da legenda do formulário
*/
legend, label {
	color: #fff
}

input, textarea{
	margin: 3% 0;
	width: 100%;
}

textarea{
	height: 10vh;
}
/*
	menu de desktop oculto até o breakpoint ser executado
*/
.menu_pc{
	display: none;
}

@media(min-width: 770px){
	.menu_mbl{ 
		display: none;
	}
	header{
		height: 100vh;
		background-image: url('../imagens/fundoprog4.jpg');
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}

	.menu_pc{
  		display: inline-block;
  		margin-top: 7%;
  		font-size: 1.5em;
  		font-family: "Gotham-Book", sans-serif;
  		opacity: .6;
 	}

	.menu_pc ul{
  		list-style: none;
  		position: relative;
 		padding: 0;
		text-align: right;
 	}	

	.menu_pc ul li{
  		height: 20px;
 		padding: 0 3%;
  		display: inline;
	}

	.menu_pc a{
  		text-decoration: none;
  		color: #fff;
	}

	.menu_pc a:hover{
		color: #00FA9A;
		transition: all .5s linear;
		opacity: 1;
	}

	#Fatec a{
		margin-bottom: 5%;
	}
	header h1, h2{
		font-weight: bold;
		color: #fff;
		font-family: 'Helvetica',sans-serif;
	}	
	header h1{
		margin-top: 20%;
		font-size: 2em;
	}
	header h2{
		margin-top: 2%;
		font-size: 1.7em;
	}	

	header p{
		font-size: 1.3em;
		color: #fff;
	}

	#Fatec p, #Sobre p, #Contato p{
		margin: 0 5%;
		padding: 0;
	}

	#Fatec,  #Sobre, #Contato{
		height: 100%;
	}

	#Fatec h2, #Fatec h3, #Sobre h2, #Sobre h3, #Contato h3{
		margin-top: 5%;
		font-family:  'Verdana', sans-serif;
		color: #fff;
 		font-weight: bold;
  		text-align: center;
	}
	.botao, .fatec{
		font-size: 1em;
	}

	.botao:hover, .fatec:hover{
		font-family: "Gotham-Book", Verdana, sans-serif;
		background-color: #000000;
		color: #fff;
		text-decoration: none;
		box-sizing: border-box;
		text-transform: uppercase;
		border: 1px solid #00FF00;
		transform: skew(-20deg);
		transition: all .5s linear;
	}

	.fatec:hover {
		color: #00FF00;
	}

	#Sobre{
		background-image: url('../imagens/1.jpg');
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
	.br{
	 	width: 6%;
	 	height: 9%;
	}

	.eng{
 		width: 7%;
		height: 10%;
	}

	#Contato{
		height: 100vh;
	}

	form{
		width: 40%;
	}
}

@media(max-width: 1240px){

	.menu_pc{
		opacity: .8;
	}

	.menu_pc ul{
		text-align: center;
	}

	header h1{
		margin-top: 30%;
	}
}
@media(max-width: 500px){
	form{
		width: 70%;
	}
	.br{
		width: 13%;
		width: 12%;
	}

	.eng{
		width: 15%;
		height: 13%;
	}
}

@media (max-width: 360px){
	form{
		width: 80%;
		margin: 3% 0;
	}


